/* Define custom node style here */
.body {}

.scottish-logo {
    width: 220px;
    padding-left: 13px;
}

.scottish-logo > a > span {
    display: none;
}

.scottish-logo > a {
    background: #fff url(/geonetwork/catalog/views/default/images/govscot-linear.png) no-repeat scroll 0 0;
    height: 40px;
    width: 190px;
    background-color: #fff;
    padding: 4px;
    margin-top: 4px;
}

.navbar-default .navbar-nav > li.scottish-logo > a:hover, 
.navbar-default .navbar-nav > li.scottish-logo > a:focus {
    background-color: #fff
}